<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Home Page</title>
  <link rel="stylesheet" href="/pure-css/pure.css" type="text/css">
  <!-- <link rel="stylesheet" href="pure-css/buttons.css" type="text/css"> -->
  <!-- <link rel="stylesheet" href="../pure-css/"> -->

  <style>
    nav {
      background: tomato;
      padding: 0.05rem;
      /* text-align: center; */
    }

    nav li {
      list-style: none;
    }

    header,
    main {
      padding: 1rem;
      margin: 0.5rem;
    }

    li {
      display: inline;
      margin: 0.5rem;
      padding: 0.02rem;
    }
  </style>
</head>

<body>

  <nav style="">
    <ul>
      <li>
        <a class="pure-button" href="/">Home</a>
      </li>
      <% if(user){ %>
        <li>
          <a class="pure-button" href="/auth/logout">Logout</a>
        </li>
        <%}else{ %>
          <li>
            <a class="pure-button" href="/auth/login">Login</a>
          </li>
          <%} %>
            <li>
              <a class="pure-button" href="/profile">profile</a>
            </li>
    </ul>
  </nav>

  <header>

  </header>

  <main>
    <a class="google-btn pure-button pure-button-primary" href="/auth/google">google+</a>
  </main>
</body>

</html>
